* text=auto eol=lf

*.blade.php diff=html linguist-language=HTML
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Ignore VS Code parsing issues in Blade templates
resources/views/**/*.blade.php linguist-detectable=false

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
